@import "settings";
@import "foundation";

#content {
  background-color: white;
  border: 1px solid $border-color;
  padding: 1em 2em;
}

.exercise {
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $light-bg-color;
}
